{% extends 'base.html' %}

{% block title %}
    <title>About</title>
{% endblock title %}

{% block content %}
<div class="Home3">
    <ul style="margin-left: 39%;position: relative;">
        <h3 style="font-size: 50px;position: absolute;top:100px">Team Members</h3>
        <li style="margin-left:5px;font-size: 30px;position: absolute;top:150px"><p>Anas Osama (backend developer)</p></li>
        <li style="margin-left:5px;font-size: 30px;position: absolute;top:200px"><p>Amr Atif (backend developer)</p></li>
        <li style="margin-left:5px;font-size: 30px;position: absolute;top:250px"><p>Ahmed Tarek(data scientest)</p></li>
        <li style="margin-left:5px;font-size: 30px;position: absolute;top:300px"><p>Esmail Mosaad (frontend developer)</p></li>
    </ul>
</div>
{% endblock content %}