<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Home</title>    
    {% endblock title %}
    
</head>
<body>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'posts:posts_list' %}">Posts</a></li>
        {% if user.is_authenticated %}
            <li><p>Hi {{ user.username }}!</p></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">SignUp</a></li>
        {% endif %}
    </ul>
    {% block content %}
        
    {% endblock content %}
</body>
</html>